body{
font-family: 'Dosis', sans-serif;
}

.splash, .finish{
  background-image: url("assets/imagen/lyft.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.content{
  background-image: url("assets/imagen/lyft.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

img{
  display: block;
  margin: auto;
}
